<!-- Modal -->
<div
  class="modal fade"
  id="membersModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="membersModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content h-auto">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="membersModalLabel">
          Thành viên nhóm <b class="text-primary">Name</b>
        </h3>
      </div>
      <div class="modal-body">
        <ul class="list-member-info">
          <li class="member-info-item">
            <img
              src="/images/users/1623422933182-ddce3499-7c5a-4b93-bca3-c6f9a01d689a-boy.png"
              class="member-info-item-img"
              alt="..."
            />
            <span class="member-info-item-label">Name</span>
            <p class="d-none">Quản trị viên</p>
            <button class="btn btn-sm btn-info" style="margin-top: 8px">
              Trò chuyện
            </button>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary text-dark"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
