#imagesModal.modal.fade(role='dialog')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') &times;
        h4.modal-title All Images in this conversation.
      .modal-body
        .all-images(style='visibility: hidden;')
          img(src='images/users/default-avatar-trungquandev-01.jpg')
          img(src='images/users/default-avatar-trungquandev-02.jpg')
