.box
  .content
    .social
      a#google_login.circle.google(href='/auth/google', title='Đăng nhập bằng tài khoản Google')
        i.fa.fa-google-plus.fa-fw
      a#facebook_login.circle.facebook(href='/auth/facebook', title='Đăng nhập bằng tài khoản Facebook')
        i.fa.fa-facebook.fa-fw
    .division
      .line.l
      span hoặc
      .line.r
    .error
    .form.loginBox
      form(method='POST', action='/auth/login')
        input.form-control(type='text', name='email', placeholder='Email', required='')
        input.form-control(type='password', name='password', placeholder='Password', required='')
        input.btn.btn-default.btn-login(type='submit', value='Đăng nhập')
