nav.navbar.navbar-inverse.no-margin-bottom
  .container-fluid
    .navbar-header.col-sm-3.navbar-left
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='https://trungquandev.com/', target='__blank')
        img(src='images/logo_favicon/logo-trungquandev.png', alt='logo-trungquandev')
    .col-sm-3.no-padding
      ul.nav.navbar-nav.navbar-left.no-padding-start
        li
          input.searchBox(type='text', name='search', placeholder='Tìm kiếm tên cuộc trò chuyện')
          #search-results
            h3 K&#x1EBF;t qu&#x1EA3;
            .search_content
              ul
    #myNavbar.collapse.navbar-collapse.col-sm-6.navbar-right
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/', title='Trang chủ')
            i.fa.fa-home
        li
          a#show-modal-contacts(href='#contactsModal', data-toggle='modal', title='Quản lý liên lạc')
            i.fa.fa-user-plus
            .noti_contact_counter 100
        li
          a#noti_Button(href='#', data-toggle='modal', title='Thông báo')
            i.fa.fa-globe
            .noti_counter(style='display: block;') 30
            #noti_Container
              #notifications
                h3 Thông báo
                .noti_content
                  span(data-uid='${ user.id }')
                    img.avatar-small(src='images/users/default-avatar-trungquandev-01.jpg', alt='')
                    strong Trung Qu&acirc;n
                    |  &dstrok;&atilde; ch&#x1EA5;p nh&#x1EAD;n l&#x1EDD;i m&#x1EDD;i k&#x1EBF;t b&#x1EA1;n c&#x1EE7;a b&#x1EA1;n!
                  br
                  br
                  br
                  span(data-uid='${ user.id }')
                    img.avatar-small(src='images/users/default-avatar-trungquandev-02.jpg', alt='')
                    strong Trung Qu&acirc;n
                    |  &dstrok;&atilde; g&#x1EED;i cho b&#x1EA1;n m&#x1ED9;t l&#x1EDD;i m&#x1EDD;i k&#x1EBF;t b&#x1EA1;n!
                  br
                  br
                  br
                .seeAll
                  a(href='#') Xem tất cả
        li#dropdown-navbar-user.dropdown(data-uid='user._id')
          a.dropdown-toggle(data-toggle='dropdown', href='#')
            img#navbar-avatar.avatar-small(src=`images/users/${user.avatar}`, alt='')
            span=user.username
            span.caret
          ul.dropdown-menu
            li
              a(href='#user-profile-modal', data-toggle='modal')
                i.fa.fa-cog
                |                 &nbsp;Cài đặt tài khoản
            li
              a(href='/auth/logout')
                i.fa.fa-sign-out
                |                 &nbsp;Đăng xuất
