<% if (errors) { %>
  <% errors.forEach(function(error) { %>
    <script>
      openLoginModal()
    </script>
    <div class="alert alert-danger">
      <%= error%>
    </div>
    <% }) %>
      <% } %>

        <% if (success) { %>
          <% success.forEach(function(item) { %>
            <script>
              openLoginModal()
            </script>
            <div class="alert alert-success">
              <%= item%>
            </div>
            <% }) %>
              <% } %>