#streamModal.modal.fade(role='dialog')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') &times;
        h4.modal-title Streaming Video &amp; Audio
      .modal-body
        video#remote-stream(width='500', controls='', style='margin-left: 20%;')
        br
        br
        video#local-stream(width='170', controls='', style='margin-left: 20%;')
        br
        br
