.col-sm-3.sidenav.no-padding
  .left
    .top.form-group
      select#select-type-chat.form-control
        option(value='all-chat') To&agrave;n b&#x1ED9; tr&ograve; chuy&#x1EC7;n
        option(value='personal-chat') Tr&ograve; chuy&#x1EC7;n c&aacute; nh&acirc;n
        option(value='group-chat') Tr&ograve; chuy&#x1EC7;n nh&oacute;m
      a.create-group-chat(href='#groupChatModal', data-toggle='modal', title='Tạo một nhóm trò chuyện mới')
    ul.people.no-padding-start
      a.room-chat(href='#uidcontact._id')
        li.person(data-chat='contact._id')
          .left-avatar
            .dot
            img(src='images/users/my_avatar.jpg', alt='')
          span.name
            | Minh Chìu
          span.time M&#x1ED9;t ph&uacute;t tr&#x1B0;&#x1EDB;c
          span.preview Xin ch&agrave;o
      a.room-chat(href='#uidgroupChatItem._id')
        li.person.group-chat(data-chat='groupChatItem._id')
          .left-avatar
            // <div class="dot"></div>
            img(src='images/users/group-avatar-trungquandev.png', alt='')
          span.name
            span.group-chat-name Group:
            |  Group Chat
          span.time Hai gi&#x1EDD; tr&#x1B0;&#x1EDB;c
          span.preview Ch&agrave;o c&#x1EA3; nh&oacute;m
      a#null-contact.room-chat(href='#')
        li.person.active(data-chat='person-default')
          .left-avatar
            .dot.online
            img.avatar-online(src='images/users/trungquandev_new-ava.png', alt='')
          span.name Minh Chìu (admin)
          span.time B&acirc;y gi&#x1EDD;
          span.preview
            | Xin ch&agrave;o 
            strong Minh Chìu
            | ...
