<div class="col-sm-9 sidenav no-padding">
  <div class="right" data-chat="">
    <div class="top"><span>To: <span class="name">Minh Chìu (admin)</span></span>
      <span class="chat-menu-right">
        <a id="show-attachs" href="#attachsModal" data-toggle="modal">
          Tệp đính kèm
          <i class="fa fa-paperclip"></i>
        </a>
      </span>
      <span class="chat-menu-right">
        <a href="javascript:void(0)">&nbsp;</a>
      </span>
      <span class="chat-menu-right">
        <a id="show-images" href="#imagesModal" data-toggle="modal">
          Hình ảnh
          <i class="fa fa-photo"></i>
        </a>
      </span>
    </div>

    <div class="content-chat">
      <div class="chat" data-chat="">
        <div class="bubble me" data-mess-id="${item._id}">
          Hello, I'm minh chiu, author of https://minhchiu.com
        </div>
        <div class="bubble you" data-mess-id="${item._id}">
          Really? I'm minh chiu too, author of https://minhchiu.com, are you fake?
        </div>
        <div class="bubble me" data-mess-id="${item._id}">This is me !!!</div>
        <div class="bubble me bubble-image-file" data-mess-id="${item._id}">
          <img class="show-image-chat" src="images/users/my_avatar.jpg" />
        </div>
        <div class="bubble me bubble-image-file" data-mess-id="${item._id}">
          <a href="fileExample/Tệp văn bản - minhchiu.pdf" download="${ item.file.fileName }">
            Tệp văn bản - minhchiu.pdf</a>
        </div>
        <div class="bubble you" data-mess-id="${item._id}">And this is me @@ !!!</div>
        <div class="bubble you bubble-image-file" data-mess-id="${item._id}">
          <img class="show-image-chat" src="images/users/trungquandev_new-ava.png" />
        </div>
        <div class="bubble you bubble-image-file" data-mess-id="${item._id}">
          <a href="fileExample/Tệp văn bản - minhchiu.docx" download="${ item.file.fileName }">
            Tệp văn bản - minhchiu.docx
          </a>
        </div>
      </div>
    </div>
    <div class="write" data-chat="">
      <input class="write-chat" type="text" data-chat="17071995" />
      <div class="icons">
        <a class="icon-chat" href="#" data-chat=""><i class="fa fa-smile-o"></i></a>
        <label for="image-chat">
          <input class="image-chat" id="image-chat" type="file" name="my-image-chat" data-chat="" />
          <i class="fa fa-photo"></i>
        </label>
        <label for="attach-chat">
          <input class="attach-chat" id="attach-chat" type="file" name="my-attach-chat" data-chat="" />
          <i class="fa fa-paperclip"></i>
        </label>
        <a class="video-chat" id="video-chat" href="#streamModal" data-chat="" data-toggle="modal">
          <i class="fa fa-video-camera"></i>
        </a>
        <input id="peer-id" type="hidden" value="" /></div>
    </div>
  </div>
</div>